.current__location{
    background-image: url("../image/surf-background-image.png");
    background-color: #222532;
    width: 100%;
    position: relative;
    @include breakpoints-up("lg"){
        padding-bottom: 20vh;
    }
}

.world__map__svg{
    width: 90%;
    height: 100%;
    margin: 5vh 5%;
}

.data{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: #ffffff;
    @include breakpoints-up("md") {
        padding: 10vh 0 0 15vw;
        margin-bottom: 7vh;
    }
}

.surf__header, #location__name{
    @include headerSize1();
}

.surf__header{
    display: inline-block;
    width: auto;
    position: relative;
    align-self: center;
    margin: 4vh 0;
    @include breakpoints-up("md") {
        align-self: flex-start;
    }
    &::after{
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        right: 0;
        background: rgba(74, 246, 205, 1);
        @include breakpoints-up("lg") {
        	width: 80px;
        }
    }
}

#location__name{
    font-size: 25px;
    @include breakpoints-up("lg") {
        font-size: 50px;
    }
    align-self: flex-end;
}

.current__location--header{
    @include titleStyle();
    align-self: flex-end;
    margin-bottom: 20px;
}

.surf__header__shadow{
    @include headersShadow(200px, 13vh, -4vw);
} 

.coordinate__for__location{
    font-family: $font-name-firaSans;
    color: #ffffff;
    opacity: .5;
    align-self: center;
    margin: 3vh 0;
    font-size: 13px;
    letter-spacing: 5px; 
    @include breakpoints-up("md"){
        align-self: flex-start;
        font-size: 18px;
        letter-spacing: 10px; 
    }
    @include breakpoints-up("lg"){
        position: absolute;
        top: 60%;
        right: -6%;
        rotate: -90deg;
    }
}

.blueCircleContainer{
    cursor: pointer;
}

.earth__container{
    path{
        opacity: 0.0802455;
    }
}