@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;1,900&display=swap');
$font-name-firaSans: "Fira Sans";

$breakpoints-up: ("sm": "576px", "md": "768px", "lg": "992px", "xl": "1200px", "xxl": "1400px");
$breakpoints-down: ("sm": "575px", "md": "767px", "lg": "991px", "xl": "1199px", "xxl": "1399px");

@mixin breakpoints-up($size){
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoints-down($size){
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}

@mixin headerSize1() {
	font-size: 40px;
	color: #ffffff;
	font-family: $font-name-firaSans;
	font-weight: 900;
	margin-right: 10vw;
	margin-bottom: 15px;
	text-transform: uppercase;
	@include breakpoints-up("lg") {
		font-size: 80px;
	}
}


@mixin headerSize2() {
	font-size: 17px;
	letter-spacing: 4px;
	color: #979797;
	font-family: $font-name-firaSans;
	margin-right: 10vw;
	margin-bottom: 5px;
	position: relative;
	display: inline-block;
	@include breakpoints-up("md") {
		font-size: 24px;
	}
	@include breakpoints-up("lg") {
		font-size: 32px;
	}
}

@mixin titleStyle($isLeft: true) {
	font-size: 17px;
	letter-spacing: 4px;
	color: #979797;
	font-family: $font-name-firaSans;
	margin-right: 10vw;
	margin-bottom: 5px;
	position: relative;
	display: inline-block;
	@include breakpoints-up("md") {
		font-size: 24px;
	}
	@include breakpoints-up("lg") {
		font-size: 30px;
	}
	text-transform: uppercase;
	&::after{
		content: "";
		position: absolute;
		width: 60px;
		height: 2px;
		background: #979797;
		top: calc(50% - 2px);
		@if($isLeft){
            left: -80px;
		} @else {
			margin-left: 10px;
		}
		@include breakpoints-up("lg") {
			width: 90px;
			@if($isLeft){
				left: -110px;
			}@else{
				margin-left: 30px;
			}
		}
	}
}


@mixin headersShadow($fontSize, $top: 0, $left: 0) {
	font-size: $fontSize;
	z-index: 2;
    line-height: 156px;
    font-family: $font-name-firaSans;
    position: absolute;
    top: $top;
    left: $left;
    color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    font-weight: 900;
	user-select: none;
}


@mixin sectionHeaders() {
	display: inline-block;
    width: auto;
    position: relative;
    align-self: center;
    margin: 4vh 0;
    @include breakpoints-up("md") {
        align-self: flex-start;
    }
    &::after{
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        right: 10%;
        background: rgba(74, 246, 205, 1);
        @include breakpoints-up("lg") {
        	width: 80px;
        }
    }
}