.view__surf{
    width: 100%;
    height: 120vh;
}

.cards__container{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

.cards{
    position: absolute;
    width: 30vw;
    height: 90%;
    padding: 5%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #404040;
    background-blend-mode: soft-light;
    transition: .6s ease-in-out;
    user-select: none;
    display: grid;
    grid-template-rows: 120% 0;
    overflow: hidden;
    &:hover{
        background-color: transparent !important;
        grid-template-rows: 90% 6rem;
        z-index: 5;
    }
    &:nth-child(odd){
        top: 0;
    }
    &:nth-child(even){
        bottom: 0;
    }
    &__num__0{
        right: 0;
        z-index: 4;
    }
    &__num__1{
        right: 25vw;
        z-index: 3;
    }
    &__num__2{
        right: 50vw;
        z-index: 2;
    }
    &__num__3{
        left: 0;
        z-index: 1;
    }

    .location__place{
        font-family: $font-name-firaSans;
        color: #ffffff;
        align-self: center;
        font-size: 13px;
        letter-spacing: 2px; 
        @include breakpoints-up("md"){
            align-self: flex-start;
            font-size: 18px;
            letter-spacing: 10px; 
        }
        @include breakpoints-up("lg"){
            position: absolute;
            top: 50%;
            left: -30px;
            rotate: -90deg;
        }
    }

    .surf__button{
        text-decoration: none;
        align-self: center;
        font-family: $font-name-firaSans;
        width: 100%;
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-weight: 900;
        font-size: 40px;
        button{
            all: unset;
            span{
                display: inline-block;
                padding: 15px;
                text-transform: uppercase;
            }
            .surf__button--surf{
                display: inline-flex;
                align-items: center;
                gap: 20px;
                background: #4AF6CD;
                position: relative;
                &::after{
                    $lineWidth: 20px;
                    content: "";
                    position: absolute;
                    left: calc($lineWidth / 2 * -1);
                    width: $lineWidth;
                    height: 1px;
                    top: 50%;
                    background: #ffffff;
                }
            }
        }
    }
}


.location__name{
    @include headerSize1();
    width: 50%;
    @include breakpoints-up("lg"){
        font-size: 50px;
    }
}